<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LF Frota Veículo</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="sidebar">
        <div class="sidebar-header">
            <h2><img src="../static/img/logo.png" alt="Logo" class="titulo-logo"></h2>

        </div>

        <ul class="sidebar-menu">
            <li><a href="#"><i class="icon">👤</i> Perfil</a></li>
            <li><a href="#"><i class="icon">🚗</i> Veículo</a></li>
            <li><a href="#"><i class="icon">🛠️</i> Manutenção</a></li>
            <li><a href="#"><i class="icon">📊</i> Relatório</a></li>
            <li><a href="#"><i class="icon">⚙️</i> Configurações</a></li>
        </ul>
    </div>
     <div class="content">
        <h1>DASHBOARD</h1>
        <p>Bem-vindo ao sistema de gestão de frotas.</p>
        <h2>📋 Resumo das Frotas</h2>

        <table class="dashboard-table">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Informação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Total de Veículos</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Veículos Ativos</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Veículos em Manutenção</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Últimas Manutenções Realizadas</td>
                    <td>12/10/2025 - Troca de óleo (Carro 08)</td>
                </tr>
                <tr>
                    <td>Alerta / Próxima Manutenção</td>
                    <td>20/10/2025 - Revisão preventiva (Carro 14)</td>
                </tr>
                <tr>
                    <td>Resumo de Custos</td>
                    <td>R$ 12.400,00 (Último mês)</td>
                </tr>
            </tbody>
        </table>
        <footer>
    <p>© 2025 Todos os direitos reservados — <strong>LF Frota Veículos</strong></p>
</footer>


        
</body>
</html>
